body {
  font-family: "Kode Mono", monospace;
  background-color: rgb(255, 214, 133);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#slot-machine {
  padding: 2vmin;
  text-align: center;
}

#slot-machine h1 {
  color:rgb(17, 157, 164);
  margin: 0; 
  font-size: 8vmin; 
}

#balance {
  color: rgb(75, 63, 114);
  margin-top: 2vmin;
  font-size: 3vmin;
  margin-bottom: 2vmin;
}

#reel-container {
  display: flex;
  overflow: hidden;
}

.reel {
  width: 14vmin;
  height: 16vmin;
  border: 1vmin solid rgb(25, 100, 126);
  margin-right: 3vmin; 
  margin-left:  3vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.symbol img{
  height: 12vh;
}

#buttons {
  margin-top: 4vmin;
  display: flex;
  justify-content: space-around;
}

#button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3vmin;
}

.spin-button,
.stop-button,
.button {
  padding: 1vmin 2vmin;
  font-size: 2vmin;
  cursor: pointer;
}

.spin-button {
  background-color: rgb(149, 198, 35);
  color: rgb(14, 71, 73);
  border: 2px solid rgb(149, 198, 35);
  border-radius: 4px;
  margin-top: 2vmin;
}

.spin-button:hover {
  background-color: rgb(14, 71, 73);
  color: rgb(149, 198, 35);
  border: 2px solid rgb(14, 71, 73);
  border-radius: 4px;
}

.stop-button {
  background-color: rgb(229, 88, 18);
  color: rgb(132, 51, 11));
  border: 2px solid rgb(229, 88, 18);
  border-radius: 4px;
  margin-top: 2vmin;
}

.stop-button:hover {
  background-color: rgb(132, 51, 11);
  color: rgb(229, 88, 18);
  border: 2px solid rgb(132, 51, 11);
  border-radius: 4px;
}

.button{
  background-color: rgb(184, 225, 255); 
  color: rgb(24, 150, 240);
  border: 2px solid rgb(184, 225, 255);
  border-radius: 4px;
}

.button:hover{
  background-color: rgb(24, 150, 240); 
  color: rgb(184, 225, 255);
  border: 2px solid rgb(24, 150, 240);
  border-radius: 4px;
}